hr{
  border: 1px solid black;
}
.pic{
  width: 300px;
  border: 10px inset gray ;

}
#thinkful{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif
}

body{
  background-color: lightgray;
  background-position: 
}

#name{
text-align: center;
font-family: 'Times New Roman', Times, serif;

}

header{
background-color: rgba(18, 20, 19, 0.4);
 background-position: center;

}

footer{
  background-color:rgba(18, 20, 19, 0.4);
  
}

h4{
  text-align: center;
}

p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.bio{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

}